@charset "utf-8";
/* CSS Document */

Body {
	margin: 0;
	padding: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background: #6D6D6D;
}

.logo {
	top: 0px;
	float: left;
}
/*navigation*/
header {
	width: 100%;
	margin: 0 auto;
	height: 100px;
	top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	float: right;
}

li {
    float: left;
	margin: 7px;
	margin-top: 40px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #AAAAAA;
}

a {
	text-decoration: none;
	color: black;
}
.active {
    background-color: #4CAF50;
}

/*section 1*/
.projectbox {
	display: flex;
	height: 1000px;
	margin: 4%;
	justify-content: space-between;
}

.column {
	position: relative;
	max-height: 500px;
	/*max-width: 540px;*/
	max-width: 40%;
	float: left;
	overflow: hidden;
	background: #8E8E8E;
	margin: 5px;
	
}
.column .imgbox {
	position: relative;
	margin: 10px;
	
}
.column .imgbox img {
	max-width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.column .details h3 {
	margin-top: 50px;
	margin: 30px;
	color: black;
	text-align: center;
	position: relative;
	max-width: 100%;
	align-content: center;
}

.column .details .detailstekst {
	margin: 10px;
	padding: 0 10px 0 10px;
	max-width: 700%;
	line-height: 1.3;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

#sidebanner {
	text-align: center;
	max-width: 130px;
	height: 250px;
    position: fixed;
    z-index: 1;
    top: 200px;
    right: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
	opacity: 0.5;
}
.banner {
	position: fixed;
	/*z-index: 1;*/
    top: 175px;
    right: 0px;
}